body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  background-image: url(bacround.jpg);
  animation: move 10s ease infinite;
}

.container {
  max-width: 700px;
  margin: 50px auto;
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
#textm {
  font-style: inherit;
  margin-bottom: 5px;
}
#musik {
  text-align: center;
}

h1 {
  text-align: center;
}

input[type="text"] {
  width: calc(100% - 70px);
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

button {
  padding: 10px 20px;
  border: none;
  background-color: red;
  color: #fff;
  cursor: pointer;
  border-radius: 10px;
}

button:hover {
  background-color: #0056b3;
  size: 10px;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  background-color: #f9f9f9;
  padding: 10px;
  margin-bottom: 5px;
  border-radius: 5px;
}
